.navbar {
  background:#4f46e5;
  color:white;
  padding:15px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.navbar a {
  color:white;
  margin-left:15px;
  text-decoration:none;
  font-weight:bold;
}