.bookings-wrapper {
  padding:30px;
}

.booking-list {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.booking-item {
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.booking-item button {
  margin-top:10px;
  padding:8px;
  background:red;
  color:white;
  border:none;
  border-radius:6px;
}