body {
  font-family: Arial;
  background: #f2f2f2;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}
